*

# open-source basics
!LICENSE
!.gitignore
!README.md

# public static files
!public/

# top-level whole-project configuration
!.prettierrc.mjs
!astro.config.mjs
!svelte.config.js
!package.json
!tailwind.config.mjs
!tsconfig.json
!biome.jsonc
!.pre-commit-config.yaml
!.lycheeignore
!justfile

# github workflows
!.github/
!.github/SETUP.md
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml

# main source code root
!src/
!src/*.ts

# layouts
!src/layouts
!src/layouts/*.ts
!src/layouts/*.tsx
!src/layoujs/*.js
!src/layoujs/*.jsx
!src/layouts/*.astro

# components
!src/components
!src/components/*.astro
!src/components/*.svelte
!src/components/*.md
!src/components/*.mdx
!src/components/blog
!src/components/blog/*.astro
!src/components/blog/*.svelte
!src/components/blog/*.mdx
!src/components/blog/*.md

# pages
!src/pages
!src/pages/*.ts
!src/pages/*.tsx
!src/pages/*.js
!src/pages/*.jsx
!src/pages/*.astro
!src/pages/*.mdx
!src/pages/*.md

# blog posts and other content
!src/content
!src/content/*.ts
!src/content/*.tsx
!src/content/*.astro
!src/content/blog
!src/content/blog/*.md
!src/content/blog/*.mdx
!src/content/blog/en/*.md
!src/content/blog/en/*.mdx
!src/content/project
!src/content/project/*.md
!src/content/project/*.mdx

# root styles
!src/styles
!src/styles/*.ts
!src/styles/*.tsx
!src/styles/*.js
!src/styles/*.jsx
!src/styles/*.astro
!src/styles/*.css

# utility code
!src/utils
!src/utils/*.ts
!src/utils/*.tsx
!src/utils/*.js
!src/utils/*.jsx
!src/utils/*.astro

