---
import Layout from "@/layouts/Base.astro";
---

<Layout title="About Me" description="About Nicholas R. Minor">
  <h1 class="title">About</h1>
  <p>
    Hi, I'm Nick. I'm a biologist and software engineer who cares a lot about
    building better tools for scientists.
  </p>
  <p class="mt-4">More coming soon!</p>
</Layout>
