---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a {href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  @reference "tailwindcss";
  a:before {
    content: "./";
    @apply text-[var(--theme-accent-2)] hover:text-[var(--theme-accent)];
  }
  a {
    @apply text-[var(--theme-accent)] mr-1;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
