---
// TableOfContentsHeading.astro
import type { MarkdownHeading } from "astro";
const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug} id={`toc-${heading.slug}`}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-2">
        {
          heading.subheadings.map((
            subheading: MarkdownHeading[],
          ) => <Astro.self heading={subheading} />)
        }
      </ul>
    )
  }
</li>

<style>
  @reference "tailwindcss";
  li:before {
    content: "#";
    @apply -me-2 text-[var(--theme-accent)];
  }

  .active-toc {
    @apply text-[var(--theme-accent)];
  }
</style>
