---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { siteConfig } from "../consts.ts";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  image,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {image} />
  </head>
  <body>
    <Header />
    <main>
      <section class="cody-bg">
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
